body {
	margin: 0;
	padding: 0;
	text-align: left;
	font: 12px Ubuntu, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #061C37;
	background: #122E43;
	background-repeat:repeat-x;
	background-image:url(images/header.png)
}
*
{
  margin: 0 auto 0 auto;
 text-align:left;}

#container
{
  display: block; 
  height:auto;
  position: relative; 
  width: 1000px;
}

#header
{
width:1000px;
height:120px;	
}

#header h1
{
position:absolute;
text-align:right;
font-size:35px;
color:#FFF;	
left:10px;
top:20px;
}


#header h2
{
position:absolute;
text-align:right;
color:#E1E7F7;	
left:10px;
top:60px;
}

#menu
{
color:#06182F
height:76px;
}

#menu a, #menu a:visited
{
line-height:76px;
font-size:18px;	
color:#FFF;
font-weight:bold;
text-decoration:none;
padding-left:10px;
padding-right:10px;
}

#content
{
background-color:#FFF;
width:980px;
padding:10px;
}

#footer
{
text-align:center;
width:980px;
color:#8CBDF2;
}


#footer a, #footer a:visited
{
color:#8CBDF2;
text-decoration:none;
}

html, body {
text-align: center;
}
p {text-align: left;}


.priority {
	font-size:10px;
	color:#000;
/* 	font-weight:normal; */
}
.biglink {
	float:right;
	margin-top:-120px;
	margin-right:150px;
}
.ticket-holder {
	padding:20px 0px 20px 15px;
	border-bottom:solid #ccc 3px;
/* 	background-color:# */
}
.lowest {
	background-color:#90FF00;
}
.low {
	background-color:#C8FF00;
}
.normal {
	background-color:#FFFFFF;
}
.high {
	background-color:#FFC600;
}
.highest {
	background-color:#FF9000;
}
h3 {
	margin-bottom:15px;
	color:blue;
}
.link_text {
	width:500px;
	border:none;
	background:none;
}